@font-face {
    font-family: 'Vazirmatn';
    src: url('src/fonts/Vazirmatn-ExtraLight.woff2') format('woff2'),
        url('src/fonts/Vazirmatn-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('src/fonts/Vazirmatn-Medium.woff2') format('woff2'),
        url('src/fonts/Vazirmatn-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('src/fonts/Vazirmatn-Bold.woff2') format('woff2'),
        url('src/fonts/Vazirmatn-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('src/fonts/Vazirmatn-SemiBold.woff2') format('woff2'),
        url('src/fonts/Vazirmatn-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@import "tailwindcss";


@layer base {
    .font-vazir {
        font-family: 'Vazirmatn', sans-serif;
    }
}

@layer components {
    .header {
        @apply bg-[#18192E] sticky top-0 pt-3;
    }
    .categories {
        @apply flex flex-row items-center text-center justify-around align-middle w-screen bg-[#18192E] text-white pb-3;
    }

    .cat {
        @apply flex flex-col items-center text-center justify-center align-middle md:mx-10 mx-1.5 px-[5px] py-0.5 bg-[#142447] hover:bg-[#1C4068] active:bg-[#18192E] rounded-md h-fit w-[40px] md:w-[80px] font-bold lg:text-xl md:text-base text-xs cursor-pointer;
    }

    .cat-img {
        @apply md:h-[40px] md:w-[40px] h-[20px] w-[20px];
    }

    .divider {
        @apply flex flex-row justify-center align-middle items-center lg:text-base md:text-sm text-xs my-3;
    }

    .divider hr {
        @apply flex-grow border-white;
    }

    .divider img {
        @apply md:h-[40px] md:w-[40px] h-[20px] w-[20px];
    }

    .items {
        @apply mb-3 grid grid-cols-1 md:grid-cols-2 gap-4 mx-2;
    }

    .item {
        @apply flex flex-row items-center h-[9rem] p-2 bg-[#142447] rounded;
    }

    .item img {
        @apply w-[7rem] h-[7rem] me-4 bg-white rounded-md;
    }

    .desc {
        @apply flex flex-col justify-between
    }

    .desc h3 {
        @apply font-semibold;
    }

    .desc p {
        @apply font-light;
    }
}